#visual {
    overflow: hidden; position: relative; bottom: 0px; left: 0px;

    >.inner {
        width: 100%; height:calc(100vh - 300px); position: relative; bottom: 0px; left: 0px; overflow: hidden; 
    
        >p {font: 30px/1 'arial'; color: #333; position: absolute; top: 5vw; left: 7%; font-family: 'Julius Sans One'; z-index: 3; font-weight: 100;}

        .back {
            width: 100%; height: calc(100% *3); margin-top: 0px; position: absolute; top: 0px; left: 0px;
            
            >li {
                width: 100%; height: calc(100% /3); float: left; background-position: center; background-repeat: no-repeat; background-size: cover; 
                
                &:nth-of-type(1) {background-image: url(../img/main/visual/img/back.jpg); background-position-y: 26%; background-position-x: 50%;}

                &:nth-of-type(2) {background-image: url(../img/main/visual/img/back12.jfif);background-position-y: 0%;}

                &:nth-of-type(3) {background-image: url(../img/main/visual/img/back6.jpg); background-position-y: 20%;}
            }
        }

        #btns {position: absolute; bottom: 17%; left: 46%; z-index: 3;
            
            >li {
                width: 13px; height: 13px; background: #999; border-radius: 10px; cursor: pointer; transition: 0.5s; float: left; margin-right: 10px;
                
                &.on {background: #fff;}
            }
        }
    }
}

//tablet
@media screen and (max-width:$tablet){
    #visual {
        
        >.inner{
            height:calc(100vh - 280px);
            >p {font: 20px/1 'arial';position: absolute;  top: 3vw; left: 7%;}

            #btns {bottom: 5%; left: 14%;}
        }
    }
}
//cellphone
@media screen and (max-width:$cellphone){
    #visual {
        >.inner{
            >p {left: 8%;}

            #btns {top: 34%; left: 70%;
                >li { width: 13px; height: 13px; float: left; margin-left: 10px; margin-right: 2px;}
            }
        }
    }
}